body {
  margin: 0;
  padding: 0;
  font-family: Merriweather, Times, serif;
}

header {
    position: relative;
  height: 35vh;
  background: url("../images/hero.jpg");
  background-size: cover;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

}

h1 {
  text-align: center;
  font-size: 4em;
  color: white;
  margin-bottom: 10px;
}

header p {
  text-align: center;
  font-size: 1.5em;
  color: white;
  margin-top: 10px;
}

.news {
  background-color: #f4f4f4;
  padding: 50px 0 32px;
  display: flex;
  justify-content: center;
}

.wrapper {
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

@media (min-width: 1280px) {
  .wrapper {
    max-width: 1280px;
  }
}

article {
  flex: 20vw;
  padding: 6px 15px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 11px -3px rgba(34, 60, 80, 0.14);
  -moz-box-shadow: 0px 0px 11px -3px rgba(34, 60, 80, 0.14);
  box-shadow: 0px 0px 11px -3px rgba(34, 60, 80, 0.14);
}

@media (max-width: 1390px) {
  article {
    flex: 40vw;
  }
}

article a {
  color: rgb(33, 37, 41);
  text-decoration: none;
}

article h2 {
  margin-bottom: 5px;
}

.article-meta {
  color: rgb(134, 142, 150);
  margin-bottom: 5px;
}

article img {
  width: 100%;
}

footer {
  padding-top: 20px;
  padding-bottom: 60px;
  text-align: center;
}

footer .links {
  margin-bottom: 50px;
}

footer .links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-decoration: none;
  text-transform: uppercase;
}

.copyright {
  color: rgb(108, 117, 125);
}
