body {
  margin: 0;
  padding: 0;
  font-family: Merriweather, Times, serif;
}

header {
    position: relative;
  height: 35vh;
  background: url("../images/hero.jpg");
  background-size: cover;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

}

h1 {
  text-align: center;
  font-size: 4em;
  color: white;
  margin-bottom: 10px;
}

header p {
  text-align: center;
  font-size: 1.5em;
  color: white;
  margin-top: 10px;
}

.news {
  background-color: #f4f4f4;
  padding: 50px 0 32px;
  display: flex;
  justify-content: center;
}

.wrapper {
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

@media (min-width: 1280px) {
  .wrapper {
    max-width: 1280px;
  }
}

article {
    position: relative;
  flex: 20vw;
  padding: 6px 15px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 11px -3px rgba(34, 60, 80, 0.14);
  -moz-box-shadow: 0px 0px 11px -3px rgba(34, 60, 80, 0.14);
  box-shadow: 0px 0px 11px -3px rgba(34, 60, 80, 0.14);
}

@media (max-width: 1390px) {
  article {
    flex: 40vw;
  }
}

article a {
  color: rgb(33, 37, 41);
  text-decoration: none;
}

article h2 {
  margin-bottom: 5px;
}

article:nth-child(1) > a::before, article:nth-child(2) > a::before {
    content:url('../images/new.svg');
    position: absolute;
    width: 3rem;
    top: 0;
    right: 0;
}

.article-meta {
  color: rgb(134, 142, 150);
  margin-bottom: 5px;
  font-size: 0.9em;
}

article img {
  width: 100%;
  vertical-align: bottom;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.article_image--transition-constuctor {
    position: relative;
    overflow: hidden;
}

/* темный оверлей для картинки в карточке статьи */

article .article_image--overlay-anchor::before {
    content: "";
	display: block;
	background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
	left: 0;
    visibility: hidden;
    opacity: 0;
	width: 100%;
	height: 100%;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* оверлей с тремя точками для картинки в карточке статьи */

article .article_image--overlay-anchor::after {
    content: "...";
	font-size: 7rem;
	z-index: 2;
	display: block;
	height: 90px;
	width: 90px;
	letter-spacing: -2.6px;
	line-height: 90px;
	margin-left: -45px;
	margin-top: -45px;
	position: absolute;
	left: 50%;
	top: 45%;
	text-align: center;
	color: #FFFFFF;
	opacity: 0;
	visibility: hidden;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
}

article:hover .article_image--overlay-anchor::before {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

article:hover .article_image--overlay-anchor::after {
    visibility: visible;
    opacity: 1;
    z-index: 2;
}

article:hover img {
    transform: scale(1.1);
    transform-origin: 50% 50%;
}

footer {
  padding-top: 20px;
  padding-bottom: 60px;
  text-align: center;
}

footer .links {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

footer .links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-decoration: none;
  text-transform: uppercase;
}

.copyright {
  color: rgb(108, 117, 125);
}
